@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSans-SemiBold';
  src: url('./assets/fonts/DMSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('./assets/fonts/DMSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, b, button {
  font-family: 'DMSans-SemiBold'
}

div, span, p {
  font-family: 'DMSans-Regular'
}